.blue {
    color: blue;
}
.green {
    color: green;
}
.class {
    color: blueviolet;
}
.kelas {
    color: violet;
}
body {
    transition: color 0.5s; background-color: 0.5s;
}
.Day-Button,
.Night-button {
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
}

.Day-button{
    color: white;
    background-color: blue;
    border: none;
}
.Night-button{
    color: white;
    background-color: navy;
    border: none;
}